<div id="url-index-wrapper">

  <div class="main-form-wrapper">
    <div class="row col-md-12 ml-auto justify-content-center">
      <h2>HI! <%=current_user.email.upcase%>,</h2>
    </div>
    <div class="row col-md-12 ml-auto justify-content-center">
      <h2>WE ARE HERE TO KEEP YOUR EYES HAPPY!</h2>
    </div>

    <br>

    <%= render partial: 'shared/url_create_form' %>
  </div>

  <%= render partial: 'shared/top100' %>

  <div class="top-100-wrapper recent-top-100 row justify-content-center">
    <div class="col-md-12" id="top100-box">
      <h4 align="center" class="top-100-h4">RECENT 30 URLS</h4>
      <p align="center">30 links you've recently created</p>
      <br>
        <div class="row col-md-12">
          <% @recent_urls.each.with_index(1) do |url, i| %>
            <div class="ol-100-lists col-md-4">
              <%= i %>. <%= link_to "#{ENV['DOMAIN_ADDRESS']}/#{url.id.to_s(36)}", "#{ENV['DOMAIN_ADDRESS']}/#{url.id.to_s(36)}", taget: :_blank %> - visited: <%= url.access_count%>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>

