<!DOCTYPE html>
<html>
  <head>
    <title>Bvly</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "BV", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <% if user_signed_in? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'My BVLinks', users_path(current_user.id), class: 'nav-link' %>
          </li>
        </ul>
        <div>
          <%= link_to "Sign out", destroy_user_session_path, class: "btn btn-outline-warning", method: :delete %>
        </div>
      <% else %>
        <ul class="navbar-nav mr-auto">
        </ul>
        <div>
          <%= link_to "Sign in", new_user_session_path, class: "btn btn-outline-warning", style: "margin-right: 15px;" %>
        </div>
        <div>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-warning" %>
        </div>
      <% end %>

    </div>
  </nav>

    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert"> <%= flash[:notice] %> </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger" role="alert"> <%= flash[:alert] %> </div>
    <% end %>
    <%= yield %>
  </body>
</html>
